<div class="card-product">
  <%= link_to credit_card_path(card), :action => 'go' do %>
    <div class="image-overlay"><%= image_tag "#{card.card_type}.jpg", alt: "Card type" %></div>
    <div class="card-product-infos">
      <div class="d-flex align-items-center">
        <div>
          <p><strong>Card Issuer:</strong> <%=card.card_issuer%></p>
          <p><strong>Credit Limit: </strong>$<%= card.credit_limit %></p>
        </div>
        <div class="pricing text-center">
          <small>You pay:</small>
          <p><strong>$<%= card.price_per_day %></strong></p>
          <small>per day</small>
        </div>
      </div>
    </div>
  <% end %>
</div>
