<div class="container">
  <h1>Here is <%= @credit_card.user.email %>'s card</h1>
  <h3>Here are the card details:</h3>
  <p>Cardholder name: <%= @credit_card.cardholder %></p>
  <p>Card Type: <%= @credit_card.card_type %></p>
  <p>Card Issuer: <%= @credit_card.card_issuer %></p>
  <p>Credit Limit: <%= @credit_card.credit_limit %></p>
  <p>Price Per Day: <%= @credit_card.price_per_day %></p>
  <% if @credit_card.user_id == current_user.id %>
    <%= link_to "Delete Card", credit_card_path(@credit_card), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-primary" %>
  <% end %>
  <%= link_to "Back", credit_cards_path, class: "btn btn-primary" %>
</div>
