<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://realtytax.ca/wp-content/uploads/2021/07/Credit-Card-Visa-Master-Card.jpg);">
  <div class="container">
    <h1><strong>Need more money to spend?</strong> <strong>We have thousands of credit cards for rent</strong></h1>
    <p>Join our scheme and Use Credify today.</p>
    <% if user_signed_in? %>
      <%= link_to "Find a card", credit_cards_path, class: "btn btn-gradient btn-light-blue" %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-gradient btn-light-blue" %>
    <% end %>
  </div>
</div>

<div class="bg-white">
  <div class= "container py-5">
    <h2><strong>The Airbnb for Credit Cards</strong></h2>
    <div class="row">
      <% CreditCard::CARD_TYPE.each do |card_type| %>
        <div class="col-12 col-sm-6 col-lg-4 py-3">
          <div class="card-category" style="background-image: url(<%= asset_path "#{card_type}.jpg" %>);">
            <a href="/credit_cards?type=<%= card_type %>"><%= card_type %></a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class= "container py-5">
  <h2><strong>Popular Credit Cards</strong></h2>
  <div class="row py-4">
    <% @credit_cards.each do |card| %>
      <div class="col-12 col-xl-6 mb-4">
        <%= render "credit_cards/card", card: card %>
      </div>
    <% end %>
  </div>
</div>
