<div class="container py-4">
<h3 class="text-center">Your reservations: </h3>
<div class="row">
<% @reservations.each do |reservation| %>
  <div class="col-12 col-md-4 py-4">
    <span class="badge rounded-pill text-bg-info my-2"><%= reservation.status %></span>
    <h5><strong>For: </strong><%= link_to "#{reservation.credit_card.cardholder}'s card",  credit_card_path(reservation.credit_card_id) %></h5>
    <div class="list-group mb-4">
      <span class="list-group-item"><strong>From: </strong><%= reservation.start_date %></span>
      <span class="list-group-item"><strong>Until: </strong><%= reservation.end_date %></span>
    </div>
    <%= link_to "Cancel reservation", reservation_path(reservation), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-primary" %>
  </div>
<% end %>
  </div>
</div>
